body {
  background-color: #dce5ee;
}

h1 {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  margin-top: 20px;
}

p {
  font-family: 'Manrope', sans-serif;
  margin-left: 60px;
  margin-right: 30px;
}

a {
  background:
     linear-gradient(
       to bottom,
       #95b4cb 0%,
       #95b4cb 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

a:hover {
  background-size: 4px 50px;
}